@charset "UTF-8";

/* 回答はここに書いてね */

.q4 {
  padding: 20px;
  box-sizing: border-box;
}

.contents {
  margin-top: 20px;
  width: 100%;
  display: table;
  text-align: center;
}

.contents:first-child {
  margin-top: 0;
}

.q4_box {
  display: table-cell;
  padding: 20px;
}

.box_orenge {
  background-color: #fdc8b8;
  width: 100px;
}

.box_purple { 
  background-color: #e0abd9;
}

.box_blue { 
  width: 100px;
  background-color: #b6d8ed;
}

.box_yellow { 
  background-color: #e5d32e;
}

.box_pink { 
  background-color: #ec8f9a;
}

.box_green {  
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
